*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24, 24, 24);
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 8rem;
    /* color: #18eddc; */
    -webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
    background: linear-gradient(96.03deg, #fb09097d 0%, #12c5dd 100%)
}

section {
    height: 100vh;
}